<!DOCTYPE html>
<html lang="en">
<head>
	<title>User Registration</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/form/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/form/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/form/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/form/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/form/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/form/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/form/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/form/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/form/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/form/vendor/noui/nouislider.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/form/css/util.css">
	<link rel="stylesheet" type="text/css" href="/form/css/main.css">
<!--===============================================================================================-->
</head>
<body>

	<form class="form-signin" action="/user/register" method="POST">
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					User Registration
				</span>

				<div class="wrap-input100 bg1" data-validate="Please Type Your Username">
					<span class="label-input100">Username *</span>
					<input class="input100" type="text" name="username" placeholder="Enter Your Username" required>
                </div>
                <div class="wrap-input100 bg1" data-validate="Please Type Your First Name">
					<span class="label-input100">First Name *</span>
					<input class="input100" type="text" name="first_name" placeholder="Enter Your First Name" required>
                </div>
                <div class="wrap-input100 bg1" data-validate="Please Type Your Last Name">
					<span class="label-input100">Last Name *</span>
					<input class="input100" type="text" name="last_name" placeholder="Enter Your Last Name" required>
                </div>
                
                <div class="wrap-input100 bg1 rs1-wrap-input100" data-validate = "Enter Your Email (e@a.x)">
					<span class="label-input100">Email *</span>
					<input class="input100" type="email" name="email_id" placeholder="Enter Your Email ">
				</div>

				<div class="wrap-input100 bg1 rs1-wrap-input100" data-validate="Please Type Your Password">
					<span class="label-input100">Password *</span>
					<input class="input100" type="password" name="password" placeholder="Enter Your Password " required>
                </div>
                
                <div class="wrap-input100 bg1" data-validate="Please Choose your Date of Birth">
					<span class="label-input100">Date of Birth *</span>
					<input class="input100" type="date" name="dob" placeholder="Enter Choose your Date of Birth" required>
                </div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
			<a href="/user/login"><button style="margin-top: 40px;" class="contact100-form-btn">
				<span>
					Already Have Account?
					<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
				</span>
			</button></a>
			<a href="/"><button style="margin-top: 40px;" class="contact100-form-btn">
				<span>
					Homepage
					<i class="fa fa-long-arrow-left m-l-7" aria-hidden="true"></i>
				</span>
			</button></a>
		</div>
	</div>
	</form>



<!--===============================================================================================-->
	<script src="/form/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/form/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/form/vendor/bootstrap/js/popper.js"></script>
	<script src="/form/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/form/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});


			$(".js-select2").each(function(){
				$(this).on('select2:close', function (e){
					if($(this).val() == "Please chooses") {
						$('.js-show-service').slideUp();
					}
					else {
						$('.js-show-service').slideUp();
						$('.js-show-service').slideDown();
					}
				});
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="/form/vendor/daterangepicker/moment.min.js"></script>
	<script src="/form/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/form/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/form/vendor/noui/nouislider.min.js"></script>
	<script>
	    var filterBar = document.getElementById('filter-bar');

	    noUiSlider.create(filterBar, {
	        start: [ 1500, 3900 ],
	        connect: true,
	        range: {
	            'min': 1500,
	            'max': 7500
	        }
	    });

	    var skipValues = [
	    document.getElementById('value-lower'),
	    document.getElementById('value-upper')
	    ];

	    filterBar.noUiSlider.on('update', function( values, handle ) {
	        skipValues[handle].innerHTML = Math.round(values[handle]);
	        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
	        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
	    });
	</script>
<!--===============================================================================================-->
	<script src="/form/js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
