<form id="login" action="/user/register" method="post">
    Username:<br>
    <input name="username" type="text" required>
    <br>First Name:<br>
    <input name="first_name" type="text" required>
    <br> Last Name: <br>
    <input name="last_name" type="text" required>
    <br>Emailid:<br>
    <input name="email_id" type="email" required>
    <br> Password <br>
    <input name="password" type="password" required>
    <br>Date of Birth<br>
    <input name="dob" type="date" required>

    <input type="submit">
</form>

<div>
   <p>Fun fact: You can't access this page without logging in</p> 
</div>