doctype
html   
    head
        title #{title} - List of All Drivers
    body
        header
        h1 List of All Drivers
    .container
        .main-content
            block content
        .sidebar
            block sidebar
    footer
        p Running on Node with Express and Jade