<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>FantasyOne</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/home-page/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/home-page/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/home-page/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/home-page/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/home-page/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/home-page/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/home-page/css/style.css" rel="stylesheet">

  
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">FantasyOne</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About The Game</a></li>
          <li><a href="#services">Rules</a></li>
          <% if (login==false) {%>
          <li><a href="/user/login">Login</a></li>
          <%  } else if (admin == 0  && login == true) { %>
            <li><a href="/user/logout">Logout</a></li>
          <% } else if (admin == 1 && login == true ) { %>
            <li><a href="/admin/logout">Logout</a></li>
          <% } %>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="/home-page/img/intro-carousel/1.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>A Fantasy Formula 1 Game</h2>
                <p>Create your own team, and compete in leagues with friends as well as others all across the globe!</p>
                <% if(login == false) {%>
                <a href="/user/register" class="btn-get-started scrollto">Sign Up</a>
                <% } %>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="/home-page/img/intro-carousel/2.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>It's Free!</h2>
                <p>No payments, no hassle! Sign up for free now!</p>
                <% if(login == false) {%>
                  <a href="/user/register" class="btn-get-started scrollto">Sign Up</a>
                  <% } %>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="/home-page/img/intro-carousel/3.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Immersive Experience</h2>
                <p>The game takes into account several unique and interesting factors across the race weekend, and then points are awarded based on these unique criteria!</p>
                <% if(login == false) {%>
                  <a href="/user/register" class="btn-get-started scrollto">Sign Up</a>
                  <% } %>
              </div>
            </div>
          </div>
        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About The Game</h3>
          <p>FantasyOne is a Fantasy Formula 1 game, where users compete with one another to accumulate the most points. The points are awarded based on the real performance of the drivers they select, over the course of the F1 season. We take into consideration not just the race results, but qualifying as well.</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-6 wow fadeInUp">
            <div class="about-col">
              <h2 class="title">Why F1?</h2>
              <p>
               Unique chance to have a fantasy league in a sport where not many such alternatives exist. With well defined criteria for points scoring, improve your motorsport knowledge and enhance your F1 viewing experience.
              </p>
            </div>
          </div>

          <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
             
              <h2 class="title">Why you should play?</h2>
              <p>
                It's one thing to watch the sport from your couch, it's completely another when it comes to analysing each driver's performance, and making the best estimate of what will happen over the course of the race weekend. Obviously, add your friends to the mix and it all becomes competitive and fun!
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Rules</h3>
          <ul>
            <li>3 Teams per User</li>
            <li>3 Leagues per Team</li>
            <li>5 Drivers per Team</li>
          </ul>
        </header>
      </div>
    </section><!-- #services -->

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeIn">
      <div class="container text-center">
        <h3>A Small Note to You</h3>
        <p>This game is very much still in progress. Expect certain changes,updates and improvements. Feedback will be appreciated!</p>
      </div>
    </section><!-- #call-to-action -->


  <!-- JavaScript Libraries -->
  <script src="/home-page/lib/jquery/jquery.min.js"></script>
  <script src="/home-page/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/home-page/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/home-page/lib/easing/easing.min.js"></script>
  <script src="/home-page/lib/superfish/hoverIntent.js"></script>
  <script src="/home-page/lib/superfish/superfish.min.js"></script>
  <script src="/home-page/lib/wow/wow.min.js"></script>
  <script src="/home-page/lib/waypoints/waypoints.min.js"></script>
  <script src="/home-page/lib/counterup/counterup.min.js"></script>
  <script src="/home-page/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/home-page/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="/home-page/lib/lightbox/js/lightbox.min.js"></script>
  <script src="/home-page/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  
  <!-- Template Main Javascript File -->
  <script src="/home-page/js/main.js"></script>

</body>
</html>
