extend alldrivers
include

block content
    //- div
    //- - console.log(AllDrivers)
    //- div
    table
        thead
            th slno
            th name
            th total
            th price
            th weekly
        tbody
        for driver in AllDrivers
            tr
                for driver_att in driver
                    td= driver_att


